.body__container {
    border: 0px;
    width: 100%;
    min-height: calc(100vh - 5rem);
}

.layout__page {
    margin-top: 3rem;
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .body__container {
        width: 720px;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .body__container {
        width: 960px;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .body__container {
        width: 1140px;
    }
}