.container {
    border: 0px;
    width: 100%;
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}